<h2>Accounts</h2>

<div>
  <%= link_to 'Add twitter account', '/users/auth/twitter' %>
  <%= link_to 'Add fb account', '/users/auth/facebook' %>
  <%= link_to 'Add google account', '/users/auth/google_oauth2' %>
  <%= link_to 'Add VK account', '/users/auth/vkontakte' %>
</div>

<table>
  <tr>
    <th>#</th>
    <th>Accounts</th>
    <th></th>
  </tr>
    <% Account.all.each_with_index do |account, index| %>
    <tr>
      <td><%= index.to_i + 1 %></td>
      <td>
        <%= account.provider %>
        <%= account.email %>
        <%= link_to 'Show', account %>
      </td>
    </tr>
  <% end %>
</table>
