<p>
  <strong>Title:</strong>
  <%= @rssfeed.title %>
</p>

<p>
  <strong>RSS url:</strong>
  <%= @rssfeed.url %>
</p>

<%= link_to 'Edit', edit_rssfeed_path(@rssfeed) %><br />
<%= link_to 'Back', rssfeeds_path %><br />

<%= form_for :url, url: rss_path, method: :post do |f| %>
  <%= f.hidden_field :url, { value: @rssfeed.url }%>
  <%= f.submit "Get RSS" %>
<% end %>

