<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <%= image_tag @post.image.url %>
</p>

<p>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<p>
  <%= form_for :body, url: send_tweet_path, method: :post do |f| %>
    <%= f.hidden_field :body, { value: @post.body }%>
    <%= f.submit "Send Tweet" %>
  <% end %>
  <%= form_for :body, url: send_vk_path, method: :post do |f| %>
    <%= f.hidden_field :body, { value: @post.body }%>
    <%= f.submit "Send to VK" %>
  <% end %>
</p>
