!!! 5
%html
%head
	%title Postinger
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags

%body
	%nav.navbar.navbar-default
		.container
			.navbar-brand= link_to "Postinger", root_path

			- if user_signed_in?
				%ul.nav.navbar-nav.navbar-right
					%li= link_to "New Post", new_post_path
					%li= link_to "Sign Out", destroy_user_session_path, method: :delete
			- else
				%ul.nav.navbar-nav.navbar-right
					%li= link_to "Sign Up", new_user_registration_path
					%li= link_to "Sign In", new_user_session_path
			%ul.nav.navbar-nav.navbar-right
				%li= link_to "New Post", new_post_path
				%li= link_to "Sign In", new_user_session_path
				%li= link_to "Sign up", new_user_registration_path
				%li= link_to "Sign up twitter", '/users/auth/twitter'
				%li= link_to "Sign up facebook", '/users/auth/facebook'
				%li= link_to "Sign Out", destroy_user_session_path, method: :delete  

	.container
		= yield
