<p>
  <strong>uid:</strong>
  <%= @account.uid %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @account.provider %>
</p>

<p>
  <strong>Email:</strong>
  <%= @account.email %>
</p>
 
<% if @account.provider == 'vkontakte' %>
  <p>
    <strong>Token VK:</strong>
    <%= @account.token_vk %>
  </p>
  <% else @account.provider == 'twitter' %>
  <p>
    <strong>Twitter key:</strong>
    <%= @account.token_tw %>
  </p>
  <p>
    <strong>Twitter secret:</strong>
    <%= @account.secret_tw %>
  </p>
<% end %>



<p> Для публикаций на стену пользователя необходимо получить токен с соответствующими правами доступа. Для 
его получения нажмите на кнопку "Get VK token". После этого вы будете перенапрввлены на страницу входа vk. Дайте 
приложению запрашиваемые права. Скопируйте с адресной строки браузера значение пареметра access_token. Откройте 
аккаунт для редактирования и добавьте в поле "Token VK" скопированый токен.</p>

<p>
<%= link_to 'Get VK token', '/get_vk_token' %> 
</p>
<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', root_path %>
